body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #2c3e50;
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  text-align: center;
  background: linear-gradient(90deg, #3498db, #2980b9);
  color: white;
  padding: 20px 20px 10px;
}

.subtitulo-header {
  font-size: 1rem;
  color: #e0f7f4;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.volver-dashboard {
  margin: 20px;
}

.volver-dashboard a {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.volver-dashboard a:hover {
  color: #1c3e5c;
}

.card-cuenta {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-cuenta:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.card-cuenta h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.seccion {
  margin-bottom: 25px;
  padding: 10px 0;
  border-left: 4px solid #f9f9f9;
  padding-left: 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.seccion:hover {
  background-color: #c2dcec;
}

.seccion h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #c3c8c9;
  color: #2c3e50;
  font-size: 14px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

.footer-redes {
  margin-top: 20px;
}

.footer-redes a {
  margin: 0 8px;
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer-redes a:hover {
  color: #2c3e50;
}

.texto-edicion {
  width: auto;
  padding: 10px 15px;
  margin-top: 8px;
  border: 1px solid #777777;
  border-radius: 8px;
  background-color: #c1c1c1;
  color: white;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.botones {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.btn-aceptar,
.btn-cancelar {
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-aceptar {
  background-color: rgb(17, 190, 40);
}

.btn-cancelar {
  background-color: crimson;
}
