<main>
  <div id="main-text">
    <h1>SISEP : GESTION INTEGRAL DE CLUBES</h1>
    <p>
      Gestiona tu club deportivo de forma integral: equipos, jugadores, entrenamientos y competencias en una sola plataforma. Controla membresías, pagos y rendimiento con herramientas diseñadas para profesionalizar tu club deportivo
    </p>
    <div>
      <!-- Enlaces corregidos para usar routerLink -->
      <a id="main-text-btn-qs" routerLink="/quienes_somos">Quienes Somos</a>
      <a id="main-text-btn-login" routerLink="/login">Iniciar Sesión</a>
    </div>
  </div>
</main>
