 <main>
      <div id="main-text">
        <h1>SISEP : GESTION INTEGRAL DE CLUBES</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          nobis vel quaerat. Blanditiis cumque, temporibus minus ipsa ab
          explicabo quae eos nesciunt velit repellat omnis molestiae, distinctio
          sapiente, dicta placeat.
        </p>
        <div>
          <a id="main-text-btn-qs" href="./quienes_somos.html">Quienes Somos</a>
          <a id="main-text-btn-login" href="./login.html">Iniciar Sesion</a>
        </div>
      </div>
    </main>