<main>
  <div id="main-text">
    <h1>SISEP : GESTION INTEGRAL DE CLUBES</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      nobis vel quaerat. Blanditiis cumque, temporibus minus ipsa ab
      explicabo quae eos nesciunt velit repellat omnis molestiae, distinctio
      sapiente, dicta placeat.
    </p>
    <div>
      <!-- Enlaces corregidos para usar routerLink -->
      <a id="main-text-btn-qs" routerLink="/quienes_somos">Quienes Somos</a>
      <a id="main-text-btn-login" routerLink="/login">Iniciar Sesión</a>
    </div>
  </div>
</main>
