<section id="actividades-home">
      <div id="actividades-home-text">
        <h2>Nuestras Actividades</h2>
        <p>
          Explora la variedad de actividades deportivas que ofrecemos para todas las edades y niveles
        </p>
      </div>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/images/basket.jpg" class="d-block w-100" alt="basket">
            <div class="gradient-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Basket</h5>
              <p>Entrena con nuestro equipo de baloncesto. Desarrolla habilidades técnicas y tácticas en un ambiente competitivo.</p>
              <a href="./login.html">Unirte Ahora</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/futbol.jpg" class="d-block w-100" alt="futbol">
            <div class="gradient-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Futbol</h5>
              <p>Entrenamientos y partidos para aficionados y semi-profesionales. Aprende técnicas y tácticas en equipo</p>
              <a href="./login.html">Unirte Ahora</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/natacion.jpg" class="d-block w-100" alt="natacion">
            <div class="gradient-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Natacion</h5>
              <p>Clases de natación para todas las edades y niveles. Mejora tu técnica y disfruta de los beneficios del agua.</p>
              <a href="./login.html">Unirte Ahora</a>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/volley.jpg" class="d-block w-100" alt="volley">
            <div class="gradient-overlay"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Volley</h5>
              <p>Entrenamientos y partidos para aficionados. Aprende técnicas y tácticas en equipo.</p>
              <a href="./login.html">Unirte Ahora</a>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>