/* Estilos específicos para el dashboard */

section {
  margin-bottom: 40px;
}

#actividades-inscritas,
#actividades-disponibles {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.grid-actividades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.actividad-inscrita {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
}

.botones-actividad {
  display: flex;
  gap: 0.5rem;
}

h2 {
  font-size: 22px;
  color: #2c3e50;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #555;
}

/* responsive */
@media (max-width: 768px) {
  .grid-actividades {
    grid-template-columns: 1fr;
  }
}