nav {
  height: 15vh; /* navbar fijo */
}

.navbar-brand {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* centra el logo */
  height: 100%;        /* ahora sí ocupa todo el nav */
}

.navbar-brand img {
  height: 150%;   /* ocupa todo el alto del navbar */
  width: auto;    /* mantiene proporción */
  object-fit: contain;
  margin-top: 8px; /* lo baja un poquito */
  margin-left: 15px;   
}


.container-fluid{
    height: 100%;
}

#navbarNav ul li a:not(#login-button a):hover {
    animation:ease-in;
    font-weight: 600;
    text-decoration: underline;
    color:var(--color-principal);
}

#login-button{
    text-decoration: none;
    padding: 0.6rem 2rem;
    background-color: var(--color-principal); /* Color de fondo del botón */
    border: 1px solid var(--color-principal);
    border-radius: 10px;
}

#login-button a{
    display: flex;
    width: 100%;
    height: 100%;
    color: white; /* Color del texto del enlace en el botón */
    text-decoration: none;
}

#login-button:hover{
    background-color: #1061b2a4;
}

@media screen and (max-width: 991px) {
  nav {
    height: 12vh; /* navbar un poco más compacto en móviles */
  }

  .navbar-brand img {
    height: 150%;     /* que ocupe casi todo el nav */
    max-height: none; /* desactiva el límite anterior */
    width: auto;
    margin-top: 0;   /* lo centramos bien */
    margin-left: 15px; /* pequeño margen a la izquierda */
  }
}