<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SISEP Gestion de Clubes</title>
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <script
      src="https://kit.fontawesome.com/35195391d2.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/assets/images/logo_navbar.png" alt="Logo Navbar" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-center align-items-center gap-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./quienes_somos.html">¿Quienes Somos?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#actividades-home">Nuestras Actividades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#beneficios">Beneficios</a>
            </li>
            <li class="nav-item" id="login-button">
              <a class="nav-link active" href="./login.html">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div id="main-text">
        <h1>SISEP : GESTION INTEGRAL DE CLUBES</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          nobis vel quaerat. Blanditiis cumque, temporibus minus ipsa ab
          explicabo quae eos nesciunt velit repellat omnis molestiae, distinctio
          sapiente, dicta placeat.
        </p>
        <div>
          <a id="main-text-btn-qs" href="./quienes_somos.html">Quienes Somos</a>
          <a id="main-text-btn-login" href="./login.html">Iniciar Sesion</a>
        </div>
      </div>
    </main>
    <section id="actividades-home">
      <h2>Nuestras Actividades</h2>
      <p>
        Explora la variedad de actividades deportivas que ofrecemos para todas las edades y niveles
      </p>
      <div id="actividades-home-card-container">
        <div class="card-actividades-home">
          <div class="card-actividades-home-img">
            <img src="../assets/images/natacion.jpg" alt="natacion">
          </div>
          <div class="card-actividades-home-text">
            <h3>Natación</h3>
            <p>Clases de natación para todas las edades y niveles. Mejora tu técnica y disfruta de los beneficios del agua.</p>
            <a href="./login.html">Unirte Ahora</a>
          </div>
        </div>
        <div class="card-actividades-home">
          <div class="card-actividades-home-img">
            <img src="../assets/images/futbol.jpg" alt="futbol">
          </div>
          <div class="card-actividades-home-text">
            <h3>Futbol</h3>
            <p>Entrenamientos y partidos para aficionados y semi-profesionales. Aprende técnicas y tácticas en equipo</p>
            <a href="./login.html">Unirte Ahora</a>
          </div>
        </div>
        <div class="card-actividades-home">
          <div class="card-actividades-home-img">
            <img src="../assets/images/basket.jpg" alt="basket">
          </div>
          <div class="card-actividades-home-text">
            <h3>Basket</h3>
            <p>Entrena con nuestro equipo de baloncesto. Desarrolla habilidades técnicas y tácticas en un ambiente competitivo.</p>
            <a href="./login.html">Unirte Ahora</a>
          </div>
        </div>
        <div class="card-actividades-home">
          <div class="card-actividades-home-img">
            <img src="../assets/images/volley.jpg" alt="Volley">
          </div>
          <div class="card-actividades-home-text">
            <h3>Volley</h3>
            <p>Entrenamientos y partidos para aficionados. Aprende técnicas y tácticas en equipo.</p>
            <a href="./login.html">Unirte Ahora</a>
          </div>
        </div>
      </div>
    </section>
    <section id="beneficios">
      <h2>Beneficios de Nuestro Club</h2>
      <p>
        Descubre todas las ventajas que tenemos para ofrecerte y por qué somos
        la mejor opción para ti y tu familia.
      </p>
      <div id="beneficios-card-container">
        <div class="card-beneficios">
          <i class="fa-regular fa-user fa-2xl"></i>
          <h3>Comunidad de Socios</h3>
          <p>
            Forma parte de una comunidad activa con los mismos intereses
            deportivos y sociales.
          </p>
        </div>
        <div class="card-beneficios">
          <i class="fa-solid fa-medal fa-2xl"></i>
          <h3>Instalaciones Premium</h3>
          <p>
            Disfruta de nuestras instalaciones de primer nivel para todos los
            deportes.
          </p>
        </div>
        <div class="card-beneficios">
          <i class="fa-solid fa-heart fa-2xl"></i>
          <h3>Múltiples Actividades</h3>
          <p>
            Gran variedad de actividades deportivas y recreativas para todas las
            edades.
          </p>
        </div>
        <div class="card-beneficios">
          <i class="fa-solid fa-calendar fa-2xl"></i>
          <h3>Eventos Exclusivos</h3>
          <p>Participa en eventos exclusivos para socios a lo largo del año.</p>
        </div>
        <div class="card-beneficios">
          <i class="fa-solid fa-clock fa-2xl"></i>
          <h3>Horarios Flexibles</h3>
          <p>Abierto en horarios amplios para adaptarse a tu estilo de vida.</p>
        </div>
        <div class="card-beneficios">
          <i class="fa-solid fa-location-dot fa-2xl"></i>
          <h3>Ubicación Privilegiada</h3>
          <p>
            Estratégicamente ubicado para fácil acceso desde cualquier punto de
            la ciudad.
          </p>
        </div>
      </div>
    </section>

    <footer>
      <section id="footer-top">
        <div id="footer-top-img">
          <img src="/assets/images/sisep_logo.png" alt="SISEP LOGO" />
        </div>
        <div id="footer-top-socialmedia">
          <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>
        </div>
        <div id="footer-top-links">
          <p></p>
        </div>
      </section>
      <section id="footer-bottom">
        <p>2025 SISEP Gestion de Clubes . Todos los derechos</p>
      </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  </body>
</html>
