<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inscripción a Actividades</title>
  <link rel="stylesheet" href="/assets/styles/inscripcion.css">
</head>

<section class="inscripcion-actividades">
  <h2>Inscribite a una Actividad</h2>

  <div class="actividad">
    <h3>Fútbol</h3>
    <ul class="lista-horarios">
      <li>
        <p><strong>Lunes • 17:00 - 19:00</strong></p>
        <p>Fabrizio Avila - Cancha 22</p>
        <span class="cupos cupos-disponibles">4 cupos</span>
      </li>
      <li>
        <p><strong>Miércoles • 17:00 - 19:00</strong></p>
        <p>Fabrizio Avila - Cancha 21</p>
        <span class="cupos cupos-agotados">Sin cupo</span>
      </li>
      <li>
        <p><strong>Viernes • 17:00 - 19:00</strong></p>
        <p>Fabrizio Avila - Cancha 20</p>
        <span class="cupos cupos-disponibles">2 cupos</span>
      </li>
    </ul>
  </div>
  <div class="actividad">
    <h3>Natación</h3>
    <ul class="lista-horarios">
      <li>
        <p><strong>Lunes • 08:00 - 09:00</strong></p>
        <p>Ezequiel Gonzalez - Pileta Olímpica</p>
        <span class="cupos cupos-disponibles">5 cupos</span>
      </li>
      <li>
        <p><strong>Miércoles • 08:00 - 09:00</strong></p>
        <p>Ezequiel Gonzalez - Pileta Olímpica</p>
        <span class="cupos cupos-disponibles">8 cupos</span>
      </li>
      <li>
        <p><strong>Miércoles • 18:00 - 19:00</strong></p>
        <p>Ana Camila Almiron - Pileta Olímpica</p>
        <span class="cupos cupos-disponibles">2 cupos</span>
      </li>
      <li>
        <p><strong>Viernes • 10:00 - 11:00</strong></p>
        <p>Ana Camila Almiron - Pileta Olímpica</p>
        <span class="cupos cupos-agotados">Sin cupo</span>
      </li>
    </ul>
  </div>
  <div class="actividad">
    <h3>Voleibol</h3>
    <ul class="lista-horarios">
      <li>
        <p><strong>Martes • 16:00 - 17:30</strong></p>
        <p>Marialis Aquino - Cancha de Voley 2</p>
        <span class="cupos cupos-disponibles">6 cupos</span>
      </li>
      <li>
        <p><strong>Jueves • 16:00 - 17:30</strong></p>
        <p>Marialis Aquino - Cancha de Voley 1</p>
        <span class="cupos cupos-disponibles">3 cupos</span>
      </li>
    </ul>
  </div>
  <div class="actividad">
    <h3>Básquet</h3>
    <ul class="lista-horarios">
      <li>
        <p><strong>Lunes • 19:00 - 20:30</strong></p>
        <p>Carlos Huallpa - Gimnasio 2</p>
        <span class="cupos cupos-disponibles">5 cupos</span>
      </li>
      <li>
        <p><strong>Miércoles • 19:00 - 20:30</strong></p>
        <p>Carlos Huallpa - Gimnasio 3</p>
        <span class="cupos cupos-agotados">Sin cupo</span>
      </li>
    </ul>
  </div>

  <div class="acciones-inscripcion">
    <button class="btn-cancelar">Cancelar</button>
    <button class="btn-guardar">Guardar Inscripción</button>  
</section>
