<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mi Cuenta</title>
    <link rel="stylesheet" href="../assets/styles/mi_cuenta.css" />
    <script src="https://kit.fontawesome.com/35195391d2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="fondo-transparente"></div>

    <main class="card-cuenta">
      <h1>👤 Mi Cuenta</h1>

      <section class="seccion">
        <h2>Datos personales</h2>
        <div class="botones">
          <button>Editar</button>
          <button>Eliminar</button>
        </div>
      </section>

      <section class="seccion">
        <h2>Membresía</h2>
      </section>

      <section class="seccion">
        <h2>Historial</h2>
      </section>

      <section class="seccion">
        <h2>Seguridad</h2>
      </section>

      <section class="seccion">
        <h2>Ayuda</h2>
      </section>
    </main>
  </body>
</html>
