<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Cuenta - Formulario de edición</title>
    <!-- <link rel="stylesheet" href="../assets/styles/mi_cuenta.css" />-->
    <link rel="stylesheet" href="../assets/styles/mi_cuenta_editar.css" />
    <script
      src="https://kit.fontawesome.com/35195391d2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="fondo-transparente"></div>
    <main class="card-cuenta">
      <h1>👤 Mi Cuenta</h1>

      <section class="seccion">
        <h2>Datos personales</h2>
        <input
          class="texto-edicion"
          type="text"
          placeholder="Escribe aquí..."
        />
      </section>

      <section class="seccion">
        <h2>Membresía</h2>
        <p>Este campo no puede ser modificado.</p>
      </section>

      <section class="seccion">
        <h2>Historial</h2>
        <p>Este campo no puede ser modificado.</p>
      </section>

      <section class="seccion">
        <h2>Seguridad</h2>
        <p>Este campo no puede ser modificado.</p>
      </section>

      <section class="seccion">
        <h2>Ayuda</h2>
        <p>Este campo no puede ser modificado.</p>
      </section>

      <div class="botones">
        <a href="/views/mi_cuenta.html" class="btn-aceptar">Aceptar</a>
        <button class="btn-cancelar">Cancelar</button>
      </div>
    </main>
  </body>
</html>
