<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notificacion simulada</title>
    <link rel="stylesheet" href="../assets/styles/login.css" />
  </head>
  <body>
    <main class="container">
      <div class="login-box">
        <h1>Cambios realizados:</h1>
        <form action="dashboard.html" method="get">
          <input type="submit" value="Volver" />
        </form>
      </div>
    </main>

    <footer>
      <p>SiSEP - Sistema de Gestión para Clubes Deportivos</p>
      <small>Versión 1.0</small>
    </footer>
  </body>
</html>