<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SISEP Gestion de Clubes -</title>
    <link rel="stylesheet" href="../assets/styles/index.css" />
    <script
      src="https://kit.fontawesome.com/35195391d2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="nav-left">
        <img src="../assets/images/logo_navbar.png" alt="logo navbar" />
      </div>
      <div id="nav-right">
          <ul>
              <li>
                  <a href="./home.html">Inicio</a>
              </li>
              <li>
                  <a href="#">¿Quienes Somos?</a>
              </li>
              <li>
                  <a href="./home.html">Nuestras Actividades</a>
              </li>
              <li>
                  <a href="./home.html">Beneficios</a>
              </li>
              <li id="login-button">
                  <a href="./login.html">Iniciar Sesion</a>
              </li>
          </ul>
      </div>
    </nav>
    <section id="quienes-somos">
      <div id="imagen-qs">
        <img src="../assets/images/el_palomar_logo.jpg" alt="logo" />
      </div>
      <div id="texto-qs">
        <h1>🕊️ ¿Quienes Somos ? 🕊️</h1>
        <p>
          Somos el palomar, un grupo de estudiantes del ISPC (Instituto... )
        </p>
      </div>
    </section>
    <footer>
      <section id="footer-top">
        <div id="footer-top-img">
          <img src="../assets/images/SISEP_LOGO.png" alt="SISEP LOGO" />
        </div>
        <div id="footer-top-slogan">
          <h6>La forma inteligente de gestionar tu club</h6>
        </div>
        <div id="footer-top-socialmedia">
          <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>
        </div>
        <div id="footer-top-links">
          <p></p>
        </div>
      </section>
      <section id="footer-bottom">
        <p>2025 SISEP Gestion de Clubes . Todos los derechos</p>
      </section>
    </footer>
  </body>
</html>
