<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SISEP Gestion de Clubes - Quienes Somos</title>
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <link rel="stylesheet" href="/assets/styles/quienes_somos.css" />
    <script
      src="https://kit.fontawesome.com/35195391d2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="nav-left">
        <img src="/assets/images/logo_navbar.png" alt="Logo Navbar" />
      </div>
      <div id="nav-right">
        <ul>
          <li>
            <a href="./home.html">Inicio</a>
          </li>
          <li>
            <a id="nav-text-btn-qs" href="#">¿Quienes Somos?</a>
          </li>
          <li>
            <a href="./home.html">Nuestras Actividades</a>
          </li>
          <li>
            <a href="./home.html">Beneficios</a>
          </li>
          <li id="login-button">
            <a href="./login.html">Iniciar Sesion</a>
          </li>
        </ul>
      </div>
    </nav>
    <section id="quienes-somos">
      <h1 id="titulo-qs">🕊️ ¿Quienes Somos ? 🕊️</h1>
      <div class="qs-content">
        <div id="imagen-qs">
          <img src="/assets/images/el_palomar_logo.jpg" alt="El Palomar" />
        </div>
        <div id="texto-qs">
          <p>
            Bienvenido a nuestro proyecto!<br />
            Somos <strong>El Palomar</strong>, un grupo compuesto por 5
            estudiantes del <strong>ISPC</strong> (Instituto Superior
            Politécnico Córdoba), actualmente estamos cursando la tecnicatura en
            Desarrollo de Software. En la foto, de izquierda a derecha, somos
            Carlos Huallpa, Marialis Aquino, Ezequiel Gonzalez, Fabrizio Avila y
            Ana Camila Almiron. A continuación, nuestras presentaciones: <br />
            Hola, soy <strong>Carlos Huallpa</strong>, soy biólogo con
            experiencia en investigación científica. A lo largo de mi carrera
            desarrollé un interés por optimizar la recolección y análisis de
            datos, así como por automatizar procesos, lo que me llevó a explorar
            el desarrollo de software. Actualmente estoy ampliando mis
            habilidades en bases de datos, web scraping y desarrollo web.<br />
            Hola, soy <strong>Marialis Aquino</strong> y en esta etapa tengo el
            rol de Scrum Master por primera vez. Me gusta la metodología ágil
            que utilizamos para estructurar el proyecto y a desarrollar el
            pensamiento crítico colaborativo. Me entusiasma poder aplicar lo que
            vamos aprendiendo en un proyecto real.<br />
            Mi nombre es <strong>Ezequiel Gonzalez</strong>, tengo 25 años, soy
            de Cordoba, Capital. Actualmente me desempeño en el area de analisis
            de datos y estoy cursando la carrera de tecnico en desarrollo de
            software. <br />Hola, soy <strong>Ana Camila Almiron</strong>, tengo
            24 años y me desempeño como desarrolladora. Estoy muy entusiasmada
            con este proyecto, ya que me está brindando la oportunidad de seguir
            aprendiendo, perfeccionar mis habilidades y crecer junto a mi
            equipo.<br />
          </p>
        </div>
      </div>
    </section>
    <footer>
      <section id="footer-top">
        <div id="footer-top-img">
          <img src="/assets/images/sisep_logo.png" alt="SISEP LOGO" />
        </div>
        <div id="footer-top-slogan">
          <h6>La forma inteligente de gestionar tu club</h6>
        </div>
        <div id="footer-top-socialmedia">
          <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>
        </div>
        <div id="footer-top-links">
          <p></p>
        </div>
      </section>
      <section id="footer-bottom">
        <p>2025 SISEP Gestion de Clubes . Todos los derechos</p>
      </section>
    </footer>
  </body>
</html>
