<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SISEP Gestion de Clubes - Quienes Somos</title>
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <link rel="stylesheet" href="/css/quienes_somos.css" />
    <script
      src="https://kit.fontawesome.com/35195391d2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="nav-left">
        <img src="/assets/images/logo_navbar.png" alt="Logo Navbar" />
      </div>
      <div id="nav-right">
        <ul>
          <a href="#">
            <li>Inicio</li>
          </a>
          <a id="nav-text-btn-qs" href="quienes_somos.html">Quienes Somos</a>
          <a href="#">
            <li>Nuestras Actividades</li>
          </a>
          <a href="#">
            <li>Beneficios</li>
          </a>
          <a href="#" id="login-button">
            <li>Iniciar Sesion</li>
          </a>
        </ul>
      </div>
    </nav>
    <section id="quienes-somos">
      <h1 id="titulo-qs">🕊️ ¿Quienes Somos ? 🕊️</h1>
      <div class="qs-content">
        <div id="imagen-qs">
          <img src="/assets/images/el_palomar_logo.jpg" alt="El Palomar" />
        </div>
        <div id="texto-qs">
          <p>
            Bienvenido a nuestro proyecto!<br />
            Somos El Palomar, un grupo compuesto por 5 estudiantes del ISPC
            (Instituto Superior Politécnico Córdoba), actualmente estamos
            cursando la tecnicatura en Desarrollo de Software. En la foto, de
            izquierda a derecha, somos Carlos Huallpa, Marialis Aquino, Ezequiel
            Gonzalez, Fabrizio Avila y Ana Camila Almiron. A continuación,
            nuestras presentaciones: <br />
            Mi nombre es Ezequiel Gonzalez, tengo 25 años, soy de Cordoba,
            Capital. Actualmente me desempeño en el area de analisis de datos y
            estoy cursando la carrera de tecnico en desarrollo de software.
            <br />Hola, soy Ana Camila Almiron, tengo 24 años y me desempeño
            como desarrolladora. Estoy muy entusiasmada con este proyecto, ya
            que me está brindando la oportunidad de seguir aprendiendo,
            perfeccionar mis habilidades y crecer junto a mi equipo.<br />
            Link GitHub:
            <a href="https://github.com/AnaCamilaAlmiron" target="_blank">
              https://github.com/AnaCamilaAlmiron
            </a>
          </p>
        </div>
      </div>
    </section>
    <footer>
      <section id="footer-top">
        <div id="footer-top-img">
          <img src="../assets/images/SISEP_LOGO.png" alt="SISEP LOGO" />
        </div>
        <div id="footer-top-slogan">
          <h6>La forma inteligente de gestionar tu club</h6>
        </div>
        <div id="footer-top-socialmedia">
          <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
          <a href=""><i class="fa-brands fa-youtube fa-2xl"></i></a>
        </div>
        <div id="footer-top-links">
          <p></p>
        </div>
      </section>
      <section id="footer-bottom">
        <p>2025 SISEP Gestion de Clubes . Todos los derechos</p>
      </section>
    </footer>
  </body>
</html>
