<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - SiSEP</title>
    <link rel="stylesheet" href="../assets/styles/login.css" />
  </head>
  <body>
    <header>
      <h1>Bienvenido!</h1>
      <p class="subtitulo-header">Ingresá tus datos y sumate a nuestro club!</p>
    </header>
    <main class="container">
        <div class="login-box">
        <h1>Registrate ahora</h1>
        <form>
            <h3>Datos de ingreso:</h3>
            <label for: "email"> E-mail:</label>
            <input type="email" name="email" required />
            <label for="contrasena"> Contraseña:</label>
            <input type="contrasena" name="contrasena" required/>
            <label for="contrasena"> Confirmar contraseña:</label>
            <input type="contrasena" name="confirmar-contrasena" required/>
            <h3>Datos personales:</h3>
            <label for: "nombre"> Nombre:</label>
            <input type="nombre" name="nombre" required />
            <label for="apellido"> Apellido:</label>
            <input type="apellido" name="apellido" required/>
            <label for="fecha"> Fecha de nacimiento (dd/mm/aaaa):</label>
            <input type="fecha" name="fecha" required/>
        </form>
        </div>
    </main>
    <footer>
      <p>SiSEP - Sistema de Gestión para Clubes Deportivos</p>
      <small>Versión 1.0</small>
    </footer>      
  </body>
</html>   