<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - SiSEP</title>
    <link rel="stylesheet" href="../assets/styles/login.css" />
  </head>
  <body>
    <header>
      <h1>Bienvenido!</h1>
      <p class="subtitulo-header">Ingresá tus datos y sumate a nuestro club!</p>
    </header>
    <main>
        <div class="form-box">
        <h1>Registrate ahora</h1>
        <form>
            <!-- campos -->
        </form>
        </div>
    </main>
    <footer>
      <p>SiSEP - Sistema de Gestión para Clubes Deportivos</p>
      <small>Versión 1.0</small>
    </footer>      
  </body>
</html>   