<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrizio Avila</title>
    <link rel="stylesheet" href="../assets/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/35195391d2.js" crossorigin="anonymous"></script>
</head>
<body>
     <nav>
        <div id="nav-top">
            <div id="nav-top-menu">
                <p id="logo">&lt;fabri.dev/&gt;</p>
                <i class="fa-solid fa-bars" id="menu"></i> 
            </div>
           
            <ul id="menu-items">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="#">Experiencia</a></li>
                <li><a href="./proyectos.html">Proyectos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div id="nav-bottom">
            <p>© 2025 Fabrizio Avila. Todos los derechos reservados. - v1.0</p>
        </div>
    </nav>
    <section id="experiencia">
        <h2>Experiencia</h2>
        <div id="common-container">
            <div class="common-card">
                <img src="../assets/images/sisep.png" alt="sisep">
                <div class="common-text">
                    <h5>SISEP Gestion de Clubes (En progreso)</h5>
                    <p>Proyecto Academico - Participante en el desarrollo de la pagina web</p>
                </div>
            </div>
            <div class="common-card">
                  <img src="../assets/images/broker.jpg" alt="Broker Arg">
                <div class="common-text">
                    <h5>ARG Broker ISPC</h5>
                    <p>Proyecto Academico - Participante en el desarrollo del programa por consola</p>
                </div>
            </div>
            <div class="common-card">
                  <img src="../assets/images/tecno-trendy.png" alt="Tecno Trendy">
                <div class="common-text">
                    <h5>Tecno Trendy</h5>
                    <p>Proyecto Academico - Participante en el desarrollo del Ecommerce (HTML,CSS, JS)</p>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/index.js"></script>
</body>
</html>