<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabrizio Avila</title>
    <link rel="stylesheet" href="../assets/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/35195391d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div id="nav-top">
            <div id="nav-top-menu">
                <p id="logo">&lt;fabri.dev/&gt;</p>
                <i class="fa-solid fa-bars" id="menu"></i> 
            </div>
           
            <ul id="menu-items">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./experiencia.html">Experiencia</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div id="nav-bottom">
            <p>© 2025 Fabrizio Avila. Todos los derechos reservados. - v1.0</p>
        </div>
    </nav>
    <section id="proyectos">
        <h3>Proyectos</h3>
         <div id="common-container">
             <div class="common-card">
                  <img src="../assets/images/control-gastos.png" alt="Control Gastos">
                <div class="common-text">
                    <h5>App de Control de Gastos</h5>
                    <p>Aplicacion de control de gastos que permite al usuario registrar sus gatos y asi tener un control sobre el presupuesto que posee</p>
                    <div class="proyect-techs">
                        <span>Tailwind</span>
                        <span>TypeScript</span>
                        <span>React</span>
                        <span>Context API</span>
                        <span>use Reducer</span>
                    </div>
                </div>
            </div>
            <div class="common-card">
                  <img src="../assets/images/seguimiento-pacientes.png" alt="Control Gastos">
                <div class="common-text">
                    <h5>App de Seguimiento de Pacientes</h5>
                    <p>Aplicacion de seguimiento de pacientes orientada en una veterinaria que permite cargar al paciente , su cuidador y sus sintomas</p>
                    <div class="proyect-techs">
                        <span>Tailwind</span>
                        <span>TypeScript</span>
                        <span>React</span>
                        <span>Zustand</span>
                    </div>
                </div>
            </div>
            <div class="common-card">
                <img src="../assets/images/to-do-app.png" alt="To do app">
                <div class="common-text">
                    <h5>To Do App</h5>
                    <p>Proyecto Final para el Curso de Full Stack Codo a Codo .<br> Es una aplicacion web que te permite
                        gestionar las diferentes tareas que agregues y organizar de forma personal estas mismas
                    </p>
                    <div class="proyect-techs">
                        <span>JavaScript</span>
                        <span>Vue</span>
                        <span>Python</span>
                        <span>Flask</span>
                        <span>MySQL</span>
                    </div>
                </div>
            </div>
            <div class="common-card">
                  <img src="../assets/images/crud-users.png" alt="Users Crud">
                <div class="common-text">
                    <h5>Crud Users</h5>
                    <p>Proyecto Pre Final para el Curso de Full Stack Codo a Codo. Es un CRUD de usuarios</p>
                     <div class="proyect-techs">
                        <span>JavaScript</span>
                        <span>Vue</span>
                        <span>Python</span>
                        <span>Flask</span>
                        <span>MySQL</span>
                    </div>
                </div>
            </div>
            <div class="common-card">
                  <img src="../assets/images/fabri-proyecto.png" alt="Fabrizio Portfolio">
                <div class="common-text">
                    <h5>Portafolio Personal</h5>
                    <p>Portafolio Personal donde se puede conocer un poco mas acerca de mi .<br> Posee su seccion de proyectos , tecnologias y contacto</p>
                     <div class="proyect-techs">
                        <span>Sass</span>
                        <span>JavaScript</span>
                        <span>React</span>
                        <span>Context API</span>
                    </div>
                </div>
                
            </div>
            <div class="common-card">
                  <img src="../assets/images/smart-shopping.png" alt="Smart Shopping">
                <div class="common-text">
                    <h5>Smart Shopping</h5>
                    <p>Aplicacion de Ecommerce desarrollada para practicar react.<br>
                        Posee diferentes secciones y maneja la logica principal en el carrito de compras. <br>
                    La informacion se obtiene de una Api Externa</p>
                </div>
                <div class="proyect-techs">
                        <span>Sass</span>
                        <span>JavaScript</span>
                        <span>React</span>
                        <span>Context API</span>
                        <span>use Reducer</span>
                        <span>React Router </span>
                    </div>
            </div>
           
        </div>
    </section>
    <script src="../assets/js/index.js"></script>
</body>
</html>