<div class="login-container">
  <div class="login-card">
    <h2 class="title">Registrate ahora</h2>
    <p class="subtitle">Completá tus datos para crear tu cuenta</p>
    <div class="login-box">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="input-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" formControlName="email" placeholder="usuario@cordoba.com" />
          @if (isInvalid('email') ) {
          <p class="error">Email invalido</p>
          }
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" formControlName="contrasena" placeholder="Mínimo 8 caracteres" />
          @if (form.get('contrasena')?.errors?.['required'] &&
          isInvalid('contrasena')) {
          <small style="color: red"> La contraseña es obligatoria </small>
          } @if (form.get('contrasena')?.errors?.['minlength'] &&
          isInvalid('contrasena')) {
          <small style="color: red">
            La contraseña debe tener al menos 8 caracteres
          </small>

          }
          <label for="confirmarContrasena">Confirmar contraseña:</label>
          <input type="password" id="confirmarContrasena" formControlName="confirmarContrasena"
            placeholder="Repetí tu contraseña" />
          @if (isInvalid('confirmarContrasena')) {
          <div>
            @if (form.get('confirmarContrasena')?.errors?.['required']) {
            <small style="color: red">Debés confirmar tu contraseña </small>
            }
          </div>
          }
        </div>
        <div class="input-group">
          <div class="form-row">
            <div class="form-field w-50">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" formControlName="nombre" required />
              @if (isInvalid ('nombre')) {
              <div>
                <small style="color: red">El nombre es obligatorio</small>
              </div>
              }
            </div>

            <div class="form-field w-50">
              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" formControlName="apellido" required />
              @if (isInvalid('apellido')) {
              <div>
                <small style="color: red">El apellido es obligatorio</small>
              </div>
              }
            </div>
          </div>

          <div class="form-row">
            <div class="form-field w-50">
              <label for="dni">DNI:</label>
              <input type="text" id="dni" formControlName="dni" placeholder="12345678" required />
              @if (isInvalid('dni')) {
              <div>
                <small style="color: red">El DNI es obligatorio</small>
              </div>
              }
            </div>
            <div class="form-field w-50">
              <label for="sexo">Sexo:</label>
              <select id="sexo" formControlName="sexo" required>
                <option value="">Seleccioná una opción</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
              </select>
              @if (isInvalid('sexo')) {
              <div>
                <small style="color: red">El sexo es obligatorio</small>
              </div>
              }
            </div>
          </div>

          <div class="form-row">
            <div class="form-field w-50">
              <label for="fecha">Fecha de nacimiento:</label>
              <input type="date" id="fecha" formControlName="fecha" required />
              @if (isInvalid('fecha')) {
              <small style="color: red">La fecha de nacimiento es obligatoria</small>
              }
            </div>
            <div class="form-field w-50">
              <label for="telefono">Teléfono:</label>
              <input type="tel" id="telefono" name="telefono" placeholder="5411556677" />
              @if (isInvalid('telefono')) {
              <div>
                <small style="color: red">
                  El teléfono debe tener solo números (7-15 dígitos)
                </small>
              </div>
              }
            </div>
          </div>
        </div>
        @if (errorMessage) {
        <div class="error mt-2 fs-6">
          @for (linea of errorMessage.split('\n'); track $index) {
          @if (linea.trim()) {
          <div>{{ linea }}</div>
          }
          }
        </div>
        }

        <button type="submit" [disabled]="form.invalid">Registrarse</button>
        <div class="login-options d-flex justify-content-center align-center my-3">
          <span>
            Ya tenés una cuenta?
            <a routerLink="/login" class="text-decoration-none">Inicia Sesion</a></span>
        </div>
      </form>
    </div>
  </div>
</div>