<div class="login-container">
  <div class="login-card">
    <div class="login-box">
      <h2 class="title">Registrate ahora</h2>
      <p class="subtitle">Completá tus datos para crear tu cuenta</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="input-group">
            <h3>Datos de ingreso:</h3>
            <!-- EMAIL -->
            <label for="email">E-mail:</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="usuario@cordoba.com"
              />
              @if (isInvalid('email') ) {
                <p class="error">
                  Email invalido
                </p>
              }

            <!-- CONTRASEÑA -->
            <label for="contrasena">Contraseña:</label>
            <input
              type="password"
              id="contrasena"
              formControlName="contrasena"
              placeholder="Mínimo 6 caracteres"
              />
              @if (form.get('contrasena')?.errors?.['required'] && isInvalid('contrasena')) {
                    <small style="color:red">
                      La contraseña es obligatoria
                    </small>
                  }
              @if (form.get('contrasena')?.errors?.['minlength'] && isInvalid('contrasena')) {
                      <small style="color:red">
                        La contraseña debe tener al menos 6 caracteres
                      </small>
                      
                    }

              <!-- CONFIRMAR CONTRASEÑA -->
              <label for="confirmarContrasena">Confirmar contraseña:</label>
              <input
                  type="password"
                  id="confirmarContrasena"
                  formControlName="confirmarContrasena"
                  placeholder="Repetí tu contraseña"
                />
                @if (isInvalid('confirmarContrasena')) {
                  <div>
                    @if (form.get('confirmarContrasena')?.errors?.['required']) {
                      <small style="color:red">La confirmación es obligatoria</small>
                    }
                  </div>
                }
        </div>
        <div class="input-group">
              <h3>Datos personales:</h3>
              <div class="form-row">
                <!-- NOMBRE -->
                <div class="form-field w-50">
                  <label for="nombre">Nombre:</label>
                  <input
                    type="text"
                    id="nombre"
                    formControlName="nombre"
                    required
                    />
                    @if (isInvalid ('nombre')) {
                      <div>
                        <small style="color:red">El nombre es obligatorio</small>
                      </div>
                    }
                </div>

                  <!-- APELLIDO -->
                  <div class="form-field w-50">
                    <label for="apellido">Apellido:</label>
                    <input
                      type="text"
                      id="apellido"
                      formControlName="apellido"
                      required

                      />
                      @if (isInvalid('apellido')) {
                        <div>
                          <small style="color:red">El apellido es obligatorio</small>
                        </div>
                      }
                  </div>
              </div>

              <div class="form-row">
                    <!-- FECHA -->
                    <div class="form-field w-50">
                      <label for="fecha">Fecha de nacimiento:</label>
                      <input
                        type="date"
                        id="fecha"
                        formControlName="fecha"
                        required
                        />
                        @if (isInvalid('fecha')) {
                            <small style="color:red">La fecha de nacimiento es obligatoria</small>
                        }
                      </div>

                      <!-- TELÉFONO -->
                      <div class="form-field w-50">
                        <label for="telefono">Teléfono:</label>
                        <input
                          type="tel"
                          id="telefono"
                          name="telefono"
                          placeholder="5411556677"
                          />
                          @if (isInvalid('telefono')) {
                            <div>
                              
                                <small style="color:red">
                                  El teléfono debe tener solo números (7-15 dígitos)
                                </small>                            </div>
                          }
                        </div>
              </div>

        </div>
            @if (errorMessage) {
              <div class="error mt-2">
                {{ errorMessage }}
              </div>
            }

              <input type="submit" value="Registrarse" [disabled]="form.invalid" />
              <div class="login-options d-flex justify-content-center align-center my-3">
                        <span> Ya tenés una cuenta? <a routerLink="/login" class="text-decoration-none">Inicia Sesion</a></span>
              </div>
      </form>
    </div>
  </div>
</div>
