<aside class="sidebar" role="complementary">
  <div class="logo-container">
    <img src="public/images/sis.png" alt="Logo de SISEP" class="sidebar-logo" />
  </div>

  <nav aria-label="Menú principal">
    <ul>
      <!-- Opciones siempre visibles -->
      <li><a routerLink="">Inicio</a></li>

      <!-- Opciones para cliente -->
      @if (tipo === 'usuario') {
      <li><a routerLink="/mi_cuenta" class="activo">Mi Cuenta</a></li>
      <li><a routerLink="/actividades">Cronograma</a></li>
      <li><a routerLink="/configuracion">Configuración</a></li>
      }

      <!-- Opciones para admin -->
      @if (tipo === 'admin') {
      <li>
        <a (click)="scrollTo('gestion-socios')" style="cursor: pointer"
          >Gestión de Socios</a
        >
      </li>
      <li>
        <a (click)="scrollTo('gestion-actividades')" style="cursor: pointer"
          >Gestión de Actividades</a
        >
      </li>
      <li>
        <a (click)="scrollTo('gestion-equipos')" style="cursor: pointer"
          >Gestión de Profesores</a
        >
      </li>
            <li>
        <a (click)="scrollTo('gestion-registros')" style="cursor: pointer"
          >Gestión de Registros</a
        >
      </li>
      }

      <li>
        <a (click)="cerrarSesion()" style="cursor: pointer">Cerrar Sesión</a>
      </li>
    </ul>
  </nav>
  <app-dashboard-user-card class="w-100"></app-dashboard-user-card>
</aside>
