<section id="quienes-somos" *ngIf="data">
  <h1 id="titulo-qs">{{ data.titulo }}</h1>
  <div class="qs-content">
    <div id="texto-qs">
      <p>{{ data.descripcion }}</p>
    </div>

    <div class="equipo-container">
      <div *ngFor="let persona of data.equipo" class="persona-card">
        <div class="foto-container">
          <img
            [src]="persona.image"
            [alt]="persona.nombre"
            class="persona-foto"
          />
        </div>
        <div class="persona-info">
          <strong>{{ persona.nombre }}</strong>
          <p>{{ persona.rol }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
