#nav-text-btn-qs {
  font-weight: bold;
}
#quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

#titulo-qs {
  font-size: 40px;
  color: #0a3d62;
  margin-bottom: 30px;
  text-align: center;
}

.qs-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#imagen-qs img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

#texto-qs {
  max-width: 500px;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

@media (max-width: 768px) {
  .qs-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #imagen-qs img {
    width: 200px;
  }

  #texto-qs {
    font-size: 16px;
    text-align: center;
  }
}
