<footer>
  <section id="footer-top">
    <div id="footer-top-img">
      <img src="/assets/images/SISEP_LOGO.png" alt="SISEP LOGO" />
    </div>
    <div id="footer-top-socialmedia">
      <a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a>
      <a href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
      <a href="#"><i class="fa-brands fa-youtube fa-2xl"></i></a>
    </div>
    <div id="footer-top-links">
      <p></p>
    </div>
  </section>
  <section id="footer-bottom">
    <p>2025 SISEP Gestion de Clubes . Todos los derechos</p>
  </section>
</footer>
